<html>
<head>
  {% if categ == "GRADING" %}
  <title>Arnis Pose Grading</title>
  {% else %}
  <title>Arnis Pose Classification</title>
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/process.css') }}" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}" />

</head>
<body>
<nav>
  <ul class="nav">
    <li><a href="{{ url_for('instruction') }}" style="margin-right: 100px;">How to use</a></li>
    <li><a href="{{ url_for('poseDesc') }}">Pose Description</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
    <li><a href="{{ url_for('index') }}">Home</a></li>
  </ul>
</nav>

<center>
  <h1>ARNIS {{categ}}</h1>
  <br>
  <img src="{{ url_for('video_feed') }}" alt = "Camera is Loading...">
</center>
  {% if categ == "GRADING" %}
  <br><br>
  <form method="POST" action="{{url_for('results')}}">
    <div class="poseResButt">
      <input type="submit" name="result" value="Detailed Pose Results" class="button"/>
    </div>
  </form>
  {% endif %}
  <br>
<center>
  <form method="POST" action="{{url_for('process')}}">
    <h5>Dominant hand:</h5>

    <input type='submit' name="right_h" value="Right Hand" class="button"/>
    <!-- <input type="radio" id="right" name="rdo" value="right" checked="TRUE">
    <label for="right">Right Hand</label> -->

    <input type='submit' name="left_h" value="Left Hand" class="button"/>
    <!-- <input type="radio" id="left" name="rdo" value="left">
    <label for="left">Left Hand</label> -->

    <h5>Developer Options:</h5>

    {% if not skeleton %}
    <input type='submit' name="skeleton" value="Show Skeleton" class="button"/>
    <!-- <input type="checkbox" id="skeleton" name="skeleton" value="skeleton">
    <label for="skeleton">Show skeleton</label> -->
    {% else %}
    <input type='submit' name="skeleton2" value="Hide Skeleton" class="button"/>
    {% endif %}

    {% if not fps %}
    <input type='submit' name="fps" value="Show FPS" class="button"/>
    <!-- <input type="checkbox" id="fps" name="fps" value="fps">
    <label for="fps">Show FPS</label> -->
    {% else %}
    <input type='submit' name="fps2" value="Hide FPS" class="button"/>
    {% endif %}

    {% if not angles %}
    <input type='submit' name="angle" value="Show Angles" class="button"/>
    <!-- <input type="checkbox" id="angles" name="angles" value="angles">
    <label for="angles">Show joint angles</label> -->
    {% else %}
    <input type='submit' name="angle2" value="Hide Angles" class="button"/>
    {% endif %}

  </form>
</center>

</body>
<script>
  window.scrollTo(0,document.body.scrollHeight);
</script>
</html>