*{
    font-family: Helvetica;
    font-weight: bold;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 100%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

body{
    background-color: #a0522d;
}

nav{
    top: 0px;
    position: sticky;
    opacity: .95;
    z-index: 1;
    font-size: 16px;
	}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a0522d;
	}

li {
    float: right;
	}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}

li a:hover:not(.hActive) {
    background-color: #663300;
    }

.hActive {
    border-bottom: 3.5px solid white;
	}

h1, h3, h5, article{
    color: #ffffff;
    }

hr{
    height: 3px;
    width: 100%
    color: #ffffff;
    background-color: #ffffff;
    }