* {
  box-sizing: border-box;
  font-family: Helvetica;
}

/* Create two equal columns that floats next to each other */
.column, .column2 {
  float: left;
  width: 50%;
  padding: 10px;
}

.column3 {
  float: left;
  width: 30%;
  padding: 10px;
}

.column4 {
  float: left;
  width: 70%;
  padding-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

body{
    background-color: #a0522d;
     color: #ffffff;
}

nav{
    top: 0px;
    position: sticky;
    opacity: .95;
    z-index: 1;
    font-size: 16px;
    font-weight: bold;
	}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a0522d;
	}

li {
    float: right;
	}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}

li a:hover:not(.hActive), .column2 {
    background-color: #663300;
    }

.hActive {
    border-bottom: 3.5px solid white;
	}

img{
    height: 300px;
    border-radius: 10%;
    box-shadow: -7px -7px #dba800;
}
